/*
Title: Lions CSS
Author: Corey Muniz
Description: Contains the theme made for the Weslaco Mid-Valley Lions
*/

/*
#a048a8 - purple
#00529B - blue
#e9c227 - yellow
#e5e0ca - beige
#766A62 - LCI Gray
#00338D - LCI Blue
#EBB700 - LCI Yellow
#622567 - Other Purple
*/

/* */

/* navbar */

/* .img-responsive2 {
    display: inline-block;
    max-height: 180%;
	margin-top: -8px;
    height: auto;
} */


/* Other CSS */
body{
	margin: 0 0 80px;
	height: 100%;
}

html {
    position: relative;
    min-height: 100%;
}

.container{
	min-width: 700px;
}




/* Header CSS */
.image { 
   position: relative !important; 
   width: 100% !important; /* for IE 6 */
}

.header-image {
    display: block;
    width: 100%;
    text-align: center;
    background-size: cover;
}



/* Sidebar */
section {
  flex: 1;
  display: flex;
  position: relative;
  overflow: hidden; 
  min-height: 800px;
}
aside {
  width: 33.3333333%;
  background-color: blue;
  float: right;

}
article {
  flex: 1;
  background-color: red;
  width: 66.6666667%;
  float: left;
}

.sidebarText{
	position: relative;
	left: 15px;
	color: #00338D;
	
}

/*  Body CSS */
.centerimg{
	display: block;
    margin-left: auto;
    margin-right: auto; 
	width: 70%; /* you can use % */
    height: auto;
}

.sPage{
	color:#622567;
}

.post{
	font-size: 18px;
}

.pics{
	max-width: 80px;
    max-height: 80px;
}

.carousel-row {
    margin-bottom: 10px;
}

.slide-row {
    padding: 0;
    background-color: #ffffff;
    min-height: 150px;
    border: 1px solid #e7e7e7;
    overflow: hidden;
    position: relative;
	max-width: 95%;
	min-width: 50%;
}


.slide-carousel {
    width: 20%;
    float: left;
    display: inline-block;
}

.slide-carousel .carousel-indicators {
    margin-bottom: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .5);
}

.slide-carousel .carousel-indicators li {
    border-radius: 0;
    width: 20px;
    height: 6px;
}

.slide-carousel .carousel-indicators .active {
    margin: 1px;
}

.slide-content {
    position: absolute;
    top: 0;
    left: 20%;
    display: block;
    float: left;
    width: 80%;
    max-height: 76%;
    padding: 1.5% 2% 2% 2%;
    overflow-y: auto;
}

.slide-content h4 {
    margin-bottom: 3px;
    margin-top: 0;
}

.slide-footer {
    position: absolute;
    bottom: 0;
    left: 20%;
    width: 78%;
    height: 20%;
    margin: 1%;
}

/* Scrollbars */
.slide-content::-webkit-scrollbar {
  width: 5px;
}
 
.slide-content::-webkit-scrollbar-thumb:vertical {
  margin: 5px;
  background-color: #999;
  -webkit-border-radius: 5px;
}
 
.slide-content::-webkit-scrollbar-button:start:decrement,
.slide-content::-webkit-scrollbar-button:end:increment {
  height: 5px;
  display: block;
}



/* Footer CSS */
.footer-distributed{
	background-color: #a048a8;
	position: absolute;
    left: 0;
    bottom: 0;
    height: 80px;
    width: 100%;
	text-align: left;
	font: normal 16px sans-serif;
	box-sizing: border-box;
	box-shadow: 0px 500px 0px 500px #a048a8;
	
	padding: 20px 20px;

}

.footer-distributed .footer-left p{
	color:  #a048a8;
	font-size: 14px;
	margin: 0;
}

.footer-distributed p.footer-links{
	font-size:18px;
	font-weight: bold;
	color:  #e9c227;
	margin: 0 0 10px;
	padding: 0;
}

.footer-distributed p.footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-right{
	float: right;
	margin-top: 6px;
	max-width: 180px;
	background-color: #e9c227;
}

.footer-distributed .footer-right a{
	display: inline-block;
	width: 35px;
	height: 35px;
	background-color: #00338D;
	border-radius: 2px;

	font-size: 20px;
	color: #e9c227 !important;
	text-align: center;
	line-height: 35px;

	margin-left: 3px;
}

.motto{
	color:#e9c227 !important;
	position: relative;
	top: -10px;
}

.fb-like{
	position: relative;
}




